Django == 3.2.9
python-dateutil
pillow
pandas
numpy
requests
scikit-learn
matplotlib
tensorflow
djangorestframework
markdown       # Markdown support for the browsable API.
django-filter  # Filtering support
psycopg2 # postgresql